html, body, .paint-container {
    height: 100%;
    --background-color: #3b4147;
    background-color: var(--background-color);
}

:root * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
