/*
    style resets
 */

html, body {
    height: 100%;
    --background-color: #3b4147;
    background-color: var(--background-color);
}

:root * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

/*
    general
 */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-background {
    background-color: grey;
}

/*
    color-picker-display styles
 */

.color-picker-display {
    width: 64px;
    height: 64px;
    background-color: white;
}

.color-picker-display:hover {
    border: 1px solid red;
}
