/*
    style resets
 */
html, body {
    height: 100%;
}

:root * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

/*
    color Picker Panel
 */

.color-picker-panel {
    --slider-dim: 25px;
    --color-viewer-width: 100%;
    --color-viewer-height: 100%;
    --color-picker-background-color: #d3d3d3;
    --color-picker-panel-height-offset: calc(2 * -3*var(--slider-dim));
    width: var(--color-viewer-width);
    height: calc(var(--color-viewer-height) + 3*var(--slider-dim) + var(--color-picker-panel-height-offset));
    border: 1px solid black;
}

/*
    color viewer
 */

.color-viewer {
    width: var(--color-viewer-width);
    height: var(--color-viewer-height);
}

/*
    color slider
 */

.color-slider {
    display: block;
    appearance: none;
    outline: 0;
    width: 100%;
    height: var(--slider-dim);
    background: #d3d3d3;
    opacity: 0.7;
    transition: opacity .2s;
}

.color-slider:not(:last-of-type) {
    border-bottom: 1px solid grey;
}

.color-slider:hover {
    opacity: 1;
}

/*
    color slider - webkit specifics
 */

.color-slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.green.color-slider::-webkit-slider-thumb {
    background-color: green;
}

.blue.color-slider::-webkit-slider-thumb {
    background-color: blue;
}

.red.color-slider::-webkit-slider-thumb {
    background-color: red;
}

/*
    color slider - mozilla specifics
 */

.color-slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.red.color-slider::-moz-range-thumb {
    background-color: red;
}

.green.color-slider::-moz-range-thumb {
    background-color: green;
}

.blue.color-slider::-moz-range-thumb {
    background-color: blue;
}
